<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grafna-Visualisation</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <link href="/static/output.css" rel="stylesheet" />
    <script src="/static/script.js" defer></script>
  </head>

  <body>
    <main
      class="bg-opacity-50 bg-gradient-to-br from-slate-50 via-zinc-300 to-zinc-600 dark:bg-gradient-to-br dark:from-gray-950 dark:via-gray-900 dark:to-gray-800 min-h-screen flex flex-col items-center"
    >
      <nav class="flex space-x-4 w-full pt-10 justify-end">
        <svg
          aria-hidden="true"
          focusable="false"
          class="mt-3 relative right-[10%]"
          height="30"
          role="presentation"
          viewBox="0 0 24 24"
          width="30"
          id="theme_switch_icon"
        >
          <g fill="#f3f4f6">
            <path d="M19 12a7 7 0 11-7-7 7 7 0 017 7z"></path>
            <path
              d="M12 22.96a.969.969 0 01-1-.96v-.08a1 1 0 012 0 1.038 1.038 0 01-1 1.04zm7.14-2.82a1.024 1.024 0 01-.71-.29l-.13-.13a1 1 0 011.41-1.41l.13.13a1 1 0 010 1.41.984.984 0 01-.7.29zm-14.28 0a1.024 1.024 0 01-.71-.29 1 1 0 010-1.41l.13-.13a1 1 0 011.41 1.41l-.13.13a1 1 0 01-.7.29zM22 13h-.08a1 1 0 010-2 1.038 1.038 0 011.04 1 .969.969 0 01-.96 1zM2.08 13H2a1 1 0 010-2 1.038 1.038 0 011.04 1 .969.969 0 01-.96 1zm16.93-7.01a1.024 1.024 0 01-.71-.29 1 1 0 010-1.41l.13-.13a1 1 0 011.41 1.41l-.13.13a.984.984 0 01-.7.29zm-14.02 0a1.024 1.024 0 01-.71-.29l-.13-.14a1 1 0 011.41-1.41l.13.13a1 1 0 010 1.41.97.97 0 01-.7.3zM12 3.04a.969.969 0 01-1-.96V2a1 1 0 012 0 1.038 1.038 0 01-1 1.04z"
            ></path>
          </g>
        </svg>
        <a
          href="https://github.com/Tejasmadhukar/"
          target="_blank"
          rel="noopener noreferrer"
          class="relative right-[10%]"
        >
          <svg height="50" viewBox="0 0 24 24" width="50">
            <path
              cliprule="evenodd"
              d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
              fill="#f3f4f6"
              fillrule="evenodd"
              id="github_icon"
            ></path>
          </svg>
        </a>
      </nav>
      <div class="flex flex-col items-center justify-center mt-40">
        <header class="text-center space-y-8 mb-8">
          <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100">
            Visualise your data from MyFitnessPal
          </h1>
          <style>
            .htmx-indicator {
              display: none;
            }
            .htmx-request .htmx-indicator {
              display: inline;
            }
            .htmx-request.htmx-indicator {
              display: inline;
            }
          </style>
          <form
            id="file_submit_form"
            class="flex flex-col items-center justify-center"
            hx-ext="response-targets"
            hx-encoding="multipart/form-data"
            hx-post="/upload"
            hx-swap="outerHTML transition:true"
            hx-target-error="#any-errors"
          >
            <label
              for="file_choose_button"
              class="inline-flex mb-2 items-center justify-center whitespace-nowrap ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 cursor-pointer disabled:opacity-50 h-10 bg-gray-900 text-white px-8 py-3 rounded-md text-lg font-medium hover:bg-gray-800 dark:bg-gray-100 dark:text-gray-900 dark:hover:bg-gray-200"
            >
              Chose your csv File
            </label>
            <div class="mb-4 dark:text-white flex" id="file_name_container">
              <h5>No File Chosen</h5>
            </div>
            <img
              class="htmx-indicator"
              src="/static/spinner.gif"
              width="50"
              height="50"
              style="margin-bottom: 12px"
            />
            <button
              type="submit"
              id="file_submit_button"
              class="hidden items-center justify-center whitespace-nowrap ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 cursor-pointer disabled:opacity-50 h-10 bg-gray-900 text-white px-2 py-1 rounded-md text-md font-small hover:bg-gray-800 dark:bg-gray-100 dark:text-gray-900 dark:hover:bg-gray-200"
            >
              submit your file
            </button>
            <input
              type="file"
              name="file"
              accept=".csv"
              id="file_choose_button"
            />
          </form>
          <style>
            input[type="file"] {
              display: none;
            }
          </style>
        </header>
        <div id="any-errors" class=""></div>

        <div class="mt-24 flex flex-col items-center space-y-2">
          <p class="text-lg text-gray-600 dark:text-gray-400">
            See Demo Graphs
          </p>
          <div class="animate-bounce">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-6 w-6 text-gray-600 dark:text-gray-400"
            >
              <path d="M12 5v14"></path>
              <path d="m19 12-7 7-7-7"></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center mt-24 mb-5">
        <div class="flex space-x-5">
          <iframe
            src="https://snapshots.raintank.io/dashboard-solo/snapshot/KL7UKWWmMriVhnP0rr1X5hXK02dC9pIk?orgId=2&from=1412308958740&to=1422245911180&panelId=3"
            width="550"
            height="350"
            frameborder="0"
          ></iframe>
          <iframe
            src="https://snapshots.raintank.io/dashboard-solo/snapshot/KL7UKWWmMriVhnP0rr1X5hXK02dC9pIk?orgId=2&from=1412308958740&to=1422245911180&panelId=1"
            width="550"
            height="350"
            frameborder="0"
          ></iframe>
        </div>
        <iframe
          src="https://snapshots.raintank.io/dashboard-solo/snapshot/KL7UKWWmMriVhnP0rr1X5hXK02dC9pIk?orgId=2&from=1412308958740&to=1422245911180&panelId=2"
          width="500"
          height="250"
          class="mt-6"
          frameborder="0"
        ></iframe>
      </div>
      allowfullscreen
      <!-- <iframe -->
      <!--   class="w-5/6 h-[600px] mt-20" -->
      <!--   src="https://snapshots.raintank.io/dashboard/snapshot/KL7UKWWmMriVhnP0rr1X5hXK02dC9pIk" -->
      <!-- ></iframe> -->
    </main>
  </body>
</html>
